.LOGO_MAIN div div{
    animation:rotater 900ms ease-in-out infinite
  }
  .TITLE_MAIN div:nth-child(2){
    animation:width_raise 3s linear infinite
  }
  .active_page{
    background-color: #8866ed !important;
    color:white !important;
    border-color: white !important;
  }
  @keyframes width_raise{
    0%{
      width:0rem;
    }
    18%{
      width:0rem;
    }
    20%{
      width:1.1rem;
    }
    38%{
      width:1.1rem;
    }
    40%{
      width:2.1rem;
    }
    58%{
      width:2.1rem;
    }
    60%{
      width:2.9rem;
    }
    99%{
      width:2.9rem;
    }
    100%{
      width:0rem;
    }
  }

  @keyframes rotater{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }