.loader{
    position: relative;
    width: 120px;
    height: 120px;
}

.loader span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

.loader span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #fff;
    transform: scale(0);
    animation: animate infinite linear 2s;
    animation-delay: calc(.1s * var(--i));
    box-shadow: 8px 8px 5px rgba(0,0,0,.1);
}

@keyframes animate {
    0%{
        transform: scale(0);
    }10%{
        transform: scale(1.2);
    }80%,100%{
        transform: scale(0);
    }
}

.rocket{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rotate 2s linear infinite;
    animation-delay: -1.1s;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

.rocket::before{
    content: '\f135';
    font-family: fontawesome;
    color: #fff;
    position: absolute;
    top: 80px;
    left: 85px;
    font-size: 60px;
    transform: rotate(180deg) scale(.8);
    text-shadow: 10px 10px 7px rgba(0,0,0,.1);
}
