.loader{
    position: relative;
    width: 120px;
    height: 120px;
}

.loader span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

.loader span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #fff;
    transform: scale(0);
    animation: animate infinite linear 2s;
    animation-delay: calc(.1s * var(--i));
    box-shadow: 8px 8px 5px rgba(0,0,0,.1);
}

@keyframes animate {
    0%{
        transform: scale(0);
    }10%{
        transform: scale(1.2);
    }80%,100%{
        transform: scale(0);
    }
}

.rocket{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rotate 2s linear infinite;
    animation-delay: -1.1s;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

.rocket::before{
    content: '\f135';
    font-family: fontawesome;
    color: #fff;
    position: absolute;
    top: 80px;
    left: 85px;
    font-size: 60px;
    transform: rotate(180deg) scale(.8);
    text-shadow: 10px 10px 7px rgba(0,0,0,.1);
}





/* Loading */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Reem+Kufi+Fun:wght@500&display=swap");

.loader_3 .loading {
  position: relative;
}
.loader_3 .loading span {
  position: relative;
  display: inline-block;
  font-size: 80px;
/*   if you want only one color then you uncomment this  */
/*   color: var(--color); */
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
.loader_3 .l{
  color: #FF9933;
}
.loader_3 .o{
  color: #FF9933;
}
.loader_3 .a{
  color: #FFFFFF;
}
.loader_3 .d{
  color: #000080;
}
.loader_3 .i{
  color: #FFFFFF;
}
.loader_3 .n{
  color: #138808;
}
.loader_3 .g{
  color: #138808;
}
.loader_3 .dot{
  color: #fff;
}

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

@keyframes loading{
  0%{
    height: 50px;
    top: 0px;
  }
  
  50%{
    height: 70px;
    top: -10px;
  }
  
  100%{
    height: 50px;
    top: 0px;
  }
}

.loader_2 .center{
  position: relative;
  width: 0px;
  height: 60px;
}

.loader_2 #loading{
  position:absolute;
  background-color: red;
  height: 50px;
  width: 15px;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.loader_2 #loading.loading1{
  left:-25px;
  animation-delay: 0.2s;
}

.loader_2 #loading.loading2{
  left:0px;
  animation-delay: 0.4s;
}

#loading.loading3{
  left:25px;
  animation-delay: 0.6s;
}

/*loader 4*/
.loader_4 .lds-bar {
    position: relative;
}

.bar {
    width: 10px;
    height: 70px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    animation: loader 1.2s linear infinite;
}

.bar1 {
    animation-delay: 0.1s;
}

.bar2 {
    animation-delay: 0.2s;
}

.bar3 {
    animation-delay: 0.3s;
}

.bar4 {
    animation-delay: 0.4s;
}

.bar5 {
    animation-delay: 0.5s;
}

.bar6 {
    animation-delay: 0.6s;
}

.bar7 {
    animation-delay: 0.7s;
}

.bar8 {
    animation-delay: 0.8s;
}

@keyframes loader {
    0% {
        transform: scaleY(0.1);
        background: white;
    }

    50% {
        transform: scaleY(1);
        background: yellowgreen;
    }

    100% {
        transform: scaleY(0.1);
        background: transparent;
    }
}
